PORT=3000
AWS_REGION=us-east-1
FUNDS_TABLE_NAME=btg-funds-local
SES_FROM_EMAIL=no-reply@example.com
DYNAMODB_ENDPOINT=http://localhost:8000
COGNITO_USER_POOL_ID=
COGNITO_USER_POOL_CLIENT_ID=
LOCAL_AUTH_BYPASS=true
